name:  Build and publish docker image

on:
  push:
    branches: [ main ]

jobs:

  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Upload the repository
      uses: actions/upload-artifact@v3
      with:
        path: . 
    - name: Build the Docker image
      run: docker build -t mdp-classwork-assignment-1 src/
  
  Publish:
    runs-on: ubuntu-latest
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Download repository
      uses: actions/download-artifact@v3
      with:
        path: .
    - name: Tag
      run: docker tag mdp-classwork-assignment-1:latest mdp-classwork-assignment-1:latest
    - name: Publish the Docker image
      run: docker push mdp-classwork-assignment-1:latest
